.sidebar{
    padding: 10px 0;
    width: 250px;
    height: 100%;
    flex-shrink: 0;
}
.sidebar h4{
    border-radius: 0 0 20px  0;
    padding: 15px 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    text-align-last: left;
    background-color: rgb(253, 68, 68);
}
.models{
    cursor: pointer;
    text-align: left;
    padding: 15px 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    background-color: rgb(234, 237, 240);
}