.wrapper-reg {
    width: 100%;

}
.wrapper-reg form {
    align-items: start;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.wrapper-reg h2{
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}
.wrapper-reg h5{
    font-size: 18px;
    font-weight: normal;
}
.wrapper-reg input{
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
}
.wrapper-reg button {
    margin-bottom: 15px;
    background-color: #3FA357;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.wrapper-reg button:hover{
    background-color: #56e477;
}
.log a{
    text-decoration:underline black;
    color: rgb(51, 51, 51);
}
.log a:hover{
    font-size: 25px;
    text-decoration: none;
}